<p>
  usuario works! [{{id}}] [{{novaPos}}]
  <span *ngIf="ids?.length > 1">
    <button (click)="vaiParaPrimeiro()">Primeiro</button>
    <button (click)="vaiParaAnterior()">Anterior</button>
    <input [(ngModel)]="novaPos">
    <button (click)="vaiPara(novaPos - 1)">Vai</button>
    <button (click)="vaiParaProximo()">Próximo</button>
    <button (click)="vaiParaUltimo()">Último</button>
  </span>
  <button [routerLink]="['/pag', 'usuario']">Voltar</button>
</p>

<div>{{registro | json}}</div>
