<p *ngIf="config?.ids?.length">
  <button (click)="config.vaiParaPrimeiro()">Primeiro</button>
  <button (click)="config.vaiParaAnterior()">Anterior</button>
  <input [(ngModel)]="config.novaPos"> de {{config?.ids?.length}}
  <button (click)="config.vaiPara(config.novaPos - 1)">Vai</button>
  <button (click)="config.vaiParaProximo()">Próximo</button>
  <button (click)="config.vaiParaUltimo()">Último</button>
</p>
<p>
  <button [routerLink]="['/pag', 'usuario']">Voltar</button>
</p>

<div>{{formulario.value | json}}</div>

<form [formGroup]="formulario" (submit)="salvar()">
  <div class="container">
    <div class="row">
      <div class="form-group">
        <label class="form-label">Nome</label>
        <input class="form-control" formControlName="nome">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="form-label">Login</label>
        <input class="form-control" formControlName="login">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="form-label">Tipo</label>
        <input class="form-control" formControlName="tipo">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="form-label">E-mail</label>
        <input class="form-control" formControlName="email">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="form-label">Ativo</label>
        <input class="form-control" formControlName="ativo">
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="formulario.invalid">
      Salvar
    </button>

  </div>
</form>
