<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>
  <button [routerLink]="['/pag', 'usuario', 'n']">Incluir</button>
  <span *ngIf="selecaoRegistros?.selected?.length">
    [{{selecaoRegistros.selected.length}}] registro(s) selecionado(s)
    <button (click)="ver()">Ver</button>
    <button>Excluir</button>
  </span>

  <table mat-table [dataSource]="fonteDados" class="mat-elevation-z8" >

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selecaoRegistros.hasValue() && isAllSelected()"
          [indeterminate]="selecaoRegistros.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selecaoRegistros.toggle(row) : null"
          [checked]="selecaoRegistros.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="indice">
      <th mat-header-cell *matHeaderCellDef> Num. </th>
      <td mat-cell *matCellDef="let i = index">{{(paginaAtual * tamanhoPagina) + i + 1}}.</td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome. </th>
      <td mat-cell *matCellDef="let e; let i = index" (click)="ver((paginaAtual * tamanhoPagina) + i)"> {{e.nome}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef> Login </th>
      <td mat-cell *matCellDef="let e"> {{e.login}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let e"> {{e.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let e"> {{e.tipo}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasExibidas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasExibidas;"></tr>
  </table>

  <mat-paginator 
    [length]="quantidadeRegistros" 
    [pageSize]="tamanhoPagina" 
    [pageSizeOptions]="tamanhoPaginaOpcoes" 
    (page)="onPaginateChange($event)"
    showFirstLastButtons
    >
  </mat-paginator>

</div>
