<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            REGISTRANDO
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button [routerLink]="['/s/veiculo/registro/registro']">Voltar</ion-button>
    <ion-button [routerLink]="['/s/veiculo/registro/parar']">Avancar</ion-button>
</ion-content>