<!-- <div>
  <p>Filtro: [ {{config.filtro.value | json}} ]</p>
  <p>Tab: [ {{config.tab | json}} ]</p>
  <p>Form: [ {{config.form.value | json}} ]</p>
</div> -->

<!-- <app-crud>
    <usuario-filtro [(dados)]="config.filtro"></usuario-filtro>
    <usuario-tab [(dados)]="config.tab"></usuario-tab>
    <usuario-form [(dados)]="config.form"></usuario-form>
</app-crud> -->

<app-maquina-estado>
  <app-visao title="Teste1">
    ABC
  </app-visao>
  <app-visao title="Teste2">
    DEF
  </app-visao>
  <app-visao title="Teste3">
    GHI
  </app-visao>
</app-maquina-estado>