<header>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1>{{titulo}} [{{envName}}]</h1>
      </div>
      <div class="col-md-2">
          <app-usuario-login></app-usuario-login>
      </div>
    </div>
  </div>
</header>

<!-- <mat-menu #rootMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">Power</button>
  <button mat-menu-item>System settings</button>
</mat-menu>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item>Shut down</button>
  <button mat-menu-item>Restart</button>
  <button mat-menu-item>Hibernate</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="rootMenu">
  <mat-icon>more_vert</mat-icon>
</button> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" [routerLink]="['/']" routerLinkActive="active" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sistema
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" [routerLink]="['/pag', 'usuario2']" routerLinkActive="active">Usuário2</a> -->
          <a class="dropdown-item" [routerLink]="['/pag', 'usuario']" routerLinkActive="active">Usuário</a>
          <a class="dropdown-item" [routerLink]="['/pag', 'produto']" routerLinkActive="active">Produto</a>
          <a class="dropdown-item" [routerLink]="['/pag', 'perfil']" routerLinkActive="active">Perfil de Acesso</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/pag']" routerLinkActive="active">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]="['/']" routerLinkActive="active" tabindex="-1"
          aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<section>
  <router-outlet></router-outlet>
</section>

<footer>
  <h5>Rodape</h5>
</footer>
