<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label>Login</ion-label>
      <ion-input [(ngModel)]="login" name="login"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha" name="senha"></ion-input>
    </ion-item>
    <ion-button type="submit" block>Entrar</ion-button>
    <ion-button block [routerLink]="['/m/home']">Cancelar</ion-button>
  </form>
</ion-content>