/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.help-block {
  color: darkgray;
  font-size: x-small;
  font-family: monospace;
}
